html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222020;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}

.section-heading {
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #ddd;
  margin-right: 3.2rem;
}

.section-heading-line {
  width: 8rem;
  height: 0.2rem;
  background-color: #ddd;
}

/* Section 3 */
.section-3 {
  width: 100%;
  /* height: 80vh !important; */
  background-color: #03070e;
  display: flex;
  align-items: center;
  padding-left: 10rem;
}
.card {
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}
.list-group-item {
  background-color: #181b1d !important;
}
.pricing-cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.pricing-card {
  width: 24rem !important;
  height: max-content !important;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}

.pricing-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}

.pricing-card-heading {
  font-size: 2.4rem;
  font-weight: 300;
  color: #fff;
  width: 100%;
  height: 4rem !important;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.heading-free {
  background: linear-gradient(to right, #087285, #0da5d3);
}

.heading-basic {
  background: linear-gradient(to right, #946809, #bdba0e);
}

.heading-standard {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}

.heading-premium {
  background: linear-gradient(to right, #0b7e48, #3be286);
}

.pricing-card-price {
  font-family: "MADE Soulmaze", sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
  color: #fff;
}

.pricing-card-list li {
  margin-bottom: 0.5rem;
}

.pricing-card-list i {
  font-size: 1.8rem;
  /* width: 3rem; */
}

.pricing-card-list {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;

  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.list-free {
  color: #0da5d3;
}

.list-basic {
  color: #bdba0e;
}

.list-standard {
  color: #e23b3b;
}

.list-premium {
  color: #3be286;
}

.pricing-card-btn {
  width: 16rem;
  height: 4rem;
  margin-bottom: 2.4rem;
  margin-top: 1.2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}

.btn-free {
  background-color: #0da5d3;
}

.btn-basic {
  background-color: #bdba0e;
}

.btn-standard {
  background-color: #e23b3b;
}

.btn-premium {
  background-color: #3be286;
}

.pricing-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 1rem;
}

.pricing-card-back a {
  font-size: 2.5rem;
  color: #fff;
}

.back-free {
  background: linear-gradient(to right, #087285, #0da5d3);
}

.back-basic {
  background: linear-gradient(to right, #946809, #bdba0e);
}

.back-standard {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}

.back-premium {
  background: linear-gradient(to right, #0b7e48, #3be286);
}

.lire {
  margin: 0;
}
.lirp {
  font-size: 1.2rem !important;
}
.lir {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}
.pricing-card-list i {
  font-size: 1.2rem;
  width: 1.4rem;
}

@media (max-width: 1800px) {
  .section-3 .section-heading-line {
    margin-right: 3rem;
  }
}

@media (max-width: 1800px) {
  .video-wrapper {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }

  .section-2-paragraph {
    width: 90rem;
    right: 10rem;
  }

  .section-3 .section-heading-line {
    margin-right: 3rem;
  }
}

@media (max-width: 1650px) {
  .video-wrapper {
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }

  .section-2-paragraph {
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}

@media (max-width: 1500px) {
  .section-heading-line {
    display: none;
  }
}

@media (max-width: 1400px) {
  .banner-heading span {
    font-size: 10rem;
  }

  .banner-paragraph {
    width: 45rem;
    font-size: 3rem;
  }

  .section-2,
  .section-3,
  .section-4 {
    flex-direction: column;
  }

  .section-2 {
    height: 120vh;
  }

  .video-wrapper {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-2-paragraph {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-3 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }

  .section-3 .section-heading {
    margin-bottom: 0.2rem;
  }

  .swiper-container {
    width: 100%;
  }

  .section-4 {
    height: auto;
    padding: 5rem 0;
  }
}

@media (max-width: 900px) {
  .pricing-card {
    width: 240px !important;
    /* height: 416px !important; */
  }
  .pricing-card-heading {
    font-size: 4.4rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 2.4rem !important;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-radius: 1rem 1rem 0 0;
  }

  .h1r {
    font-size: 1.4rem;
  }
  .h3r {
    font-size: 2.8rem;
  }
  .lire {
    margin: 0;
  }
  .lirp {
    font-size: 0.7rem !important;
  }
  .lir {
    font-size: 0.8rem !important;
    font-weight: 640 !important;
  }
  .pricing-card-list i {
    font-size: 1rem;
    width: 1rem;
  }
  .pricing-card-btn {
    width: 8rem;
    height: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    border-radius: 2.4rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
  }
}

@media (max-width: 700px) {
  .pricing-card {
    width: 180px !important;
    /* height: 416px !important; */
  }

  .pricing-card-heading {
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 2.4rem !important;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-radius: 1rem 1rem 0 0;
  }

  .h1r {
    font-size: 1.2rem;
  }
  .h3r {
    /* margin-top: 8px; */
    font-size: 2.4rem;
  }
  .lire {
    margin: 0;
  }
  .lirp {
    font-size: 0.6rem;
    font-weight: 200 !important;
  }
  .lir {
    font-size: 0.7rem !important;
    font-weight: 520 !important;
  }
  .pricing-card-list i {
    font-size: 0.8rem;
    width: 1rem;
  }
  .pricing-card-btn {
    width: 8rem;
    height: 2.4rem;
    margin-bottom: 1rem;
    border-radius: 2.4rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
  }
}

@media (max-width: 500px) {
  .banner-heading span {
    font-size: 4.5rem;
    letter-spacing: 2rem;
  }
  .pricing-card {
    width: 72%;
  }
}
